apiVersion: apps/v1
kind: Deployment
metadata: 
  name: c-data-04-project-01-deploy-api-on-kubernetes-for-free
spec: 
  replicas: 1
  selector:
    matchLabels: 
      name: c-data-04-project-01-deploy-api-on-kubernetes-for-free
  template:
    metadata:
      labels:
        name: c-data-04-project-01-deploy-api-on-kubernetes-for-free
    spec:
      containers:
        - name: c-data-04-project-01-deploy-api-on-kubernetes-for-free
          image: okteto.dev/c-data-04-project-01-deploy-api-on-kubernetes-for-free
          ports: 
            - containerPort: 5000


