apiVersion: v1
kind: Service
metadata:
  name: c-data-04-project-01-deploy-api-on-kubernetes-for-free
  labels:
    name: c-data-04-project-01-deploy-api-on-kubernetes-for-free
  annotations:
    dev.okteto.com/auto-ingress: "true"
spec: 
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 5001
  selector:
    name: c-data-04-project-01-deploy-api-on-kubernetes-for-free
