apiVersion: v1
kind: Service
metadata:
  name: c_data_04_project_01_deploy_api_on_kubernetes_for_free
  labels:
    name: c_data_04_project_01_deploy_api_on_kubernetes_for_free
  annotations:
    dev.okteto.com/auto-ingress: "true"
spec: 
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 5001
  selector:
    name: c_data_04_project_01_deploy_api_on_kubernetes_for_free
